@model IEnumerable<Cust.Models.客戶資料>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("客戶分類", new { @class = "col-md-1" })
        @Html.DropDownList("分類ListSelect", (IEnumerable<SelectListItem>)ViewData["分類List"], "---客戶類別---", new { @class = "form-control col-md-4" })

        @Html.Label("模糊搜尋", new { @class = "col-md-1" })
        @Html.TextBox("SearchValue", null, new { @class = " form-control col-md-4" })

        <input type="submit" value="查詢" class=" form-control col-md-2" />
    </div>
    <div>
        @Html.ActionLink("Excel輸出", "FileSave")
    </div>

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.客戶名稱)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.客戶名稱Sort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.統一編號)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.統一編號Sort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.電話)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.電話Sort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.傳真)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.傳真Sort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.地址)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.地址Sort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.Email)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.EmailSort })
                </th>
                <th>
                    @Html.ActionLink((Html.DisplayNameFor(model => model.客戶分類)).ToHtmlString(), (string)ViewBag.Title, new { sortOrder = ViewBag.客戶分類Sort })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶名稱)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.統一編號)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.電話)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.傳真)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.地址)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.客戶分類)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
}

